
  <div style="font-size:20px;">
  <link rel="stylesheet" type="text/css" href="../styles/login.css">

    <!-- Add EJS code here -->
    <% if(user) { %>
      <a href="http://localhost:8080/urls" >URLs</a><td>|</td>
      <a href="http://localhost:8080/urls/new" >Create New TinyURL</a>
      <h3> You are logged in as: <%= user["email"] %></h3>
      <form method="POST" action="/logout">
        <button type="submit">logout</button>
      </form>
    <% } else { %>
        <a href="/login" >Login</a><t>|</t><a href="/register" >Register</a>
    <% } %>
    </div>