<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/login.css">
    <title>TinyApp</title>
  </head>
  <body>
    <!-- Add EJS code here -->
    <h1>TinyApp</h1>
    <div class="danger" role="alert">
      Please enter a valid email and password!
    </div>
    <h5> <a href="http://localhost:8080/login">click here to go to login page</a></h5>
  </body>