<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/login.css">
    <title>TinyApp</title>
  </head>
  <body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <h1>TinyApp</h1>
    <header>
      <% include ./partials/_header %>
    </header>
    <!-- <a href= "/login"> Login </a> <td>|</td> <a href= "/register">Register</a> -->
    <h3>Login</h3>
    <form method="POST" action="/login">
      <h5>Email:</h5>
      <input name= "email" type="email"  placeholder="Enter your email">
      <h5>Password:</h5>
      <input name= "password" type="password"  placeholder="Enter your password">
      <hr style="height:0px; visibility:hidden;" />
      <button type="submit">Login</button>
    </form>
  </body>
</html>