html * {
  font-family: monospace;
  font-size: 20px;
  margin: 0 auto;
  padding: 10px;

}

body {
  background-color: rgb(34, 34, 34);
  text-align: center;
}

h1 {
  color: rgba(3, 224, 217, 0.931);
  font-size: 70px;
  padding-top: 90px;
}

h3 {
  color: rgb(218, 42, 94);
  font-size: 30px;
}

h5 {
  color: rgb(218, 42, 94);
}

a {
  color: rgb(252, 244, 137);
  }

a:hover {
  color: rgba(3, 224, 217, 0.931);
}

t {
  color: rgb(252, 244, 137);
}

form>input {
background-color: lightgray;
border-radius: 25px;
padding: 10px;
width: 40%;
}

button, button[name='updateURL'] {
  background-color: rgb(252, 244, 137);
  color: rgb(41, 41, 41);
  border-radius: 20px;
  width: 200px;
}

.danger {
  background-color: lightgray;
  padding: 10px;
  border-radius: 30px;
  width: 500px;
  color: rgb(218, 42, 94);
  font-weight: bold;
}

.form-control {
  background-color: lightgrey;
  border-radius: 25px;
}

label {
  color: rgb(218, 42, 94);
}
button.btn.btn-primary {
  background-color: rgb(252, 244, 137);
  color: rgb(41, 41, 41);
  border-radius: 20px;
  width: 200px;
}